---
layout: noimage
title: "Mycelial Mural - Lewiston Middle School"
stories:
  - theme: "Change"
    image: "images/change-two-girls.jpg"
    audio: "audio/change-two-girls.mp3"
  - theme: "Identity"
    image: "images/identity-dog.jpg"
    audio: "audio/identity-dog.mp3"
  - theme: "Community"
    image: "images/community-lms.jpg"
    audio: "audio/community-lms.mp3"
  - theme: "Change"
    image: "images/change-tree.jpg"
    audio: "audio/change-tree.mp3"
  - theme: "Community"
    image: "images/community-three.jpg"
    audio: "audio/community-three.mp3"
  - theme: "Identity"
    image: "images/identity-light.jpg"
    audio: "audio/identity.mp3"
---

<h1>{{page.title}}</h1>

<style>
.img { height: 150px; background-color: #ddd }
.img[class] { width: 150px }

.object-fit_fill { object-fit: fill }
.object-fit_contain { object-fit: contain }
.object-fit_cover { object-fit: cover }
.object-fit_none { object-fit: none }
.object-fit_scale-down { object-fit: scale-down }
</style>

<p>&nbsp;</p>

<div class="divTable" style="width: 100%;" >
  <div class="divTableBody">

    <div class="divTableRow">
      <div class="divTableCell"><b>Story</b></div>
      <div class="divTableCell"><b>Image</b></div>
    </div>

{% for story in page.stories %}

    <div class="divTableRow">
      <div class="divTableCell"><b>{{story.theme}}</b><br>&nbsp;<br>
        <audio controls preload="none" style="width:300px;">
         <source src="{{story.audio}}" type="audio/mp4" />
         <p>Your browser does not support HTML5 audio.</p>
        </audio>
      </div>
      
      <div class="divTableCell">
        <a href="{{story.image}}">
          <img src="{{story.image}}" width="300" class="img object-fit_cover">
        </a>
      </div>
    </div>
{% endfor %}

  </div>
</div>

