<!DOCTYPE html>
<html >
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  
  <link href="{{ site.baseurl }}/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/css/mycelial.webflow.css" rel="stylesheet" type="text/css">
  <link href="{{ site.baseurl }}/css/tables.css" rel="stylesheet" type="text/css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic","Roboto:300,regular,500"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body>
  <div class="header-section">
    <div class="w-container">
      <a href="{{site.muralurl}}" class="blog-home-link w-inline-block w--current">
        <h1 class="blog-name">MYCELIAL MURAL</h1>
      </a>
      <div class="navigation-bar"><a href="http://mycelialproject.com/" class="nav-link">PERFORMANCE</a><a href="{{site.baseurl}}/mural/" class="nav-link  w--current">MURAL</a></div>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="blog-post"><img src="images/mycelial-mural.jpg" >
        
        {{content}}


      </div>
    </div>
  </div>
  <div class="footer">
    <div class="w-container">
      <div><a class="social-icon-link w-inline-block"><img src="{{site.baseurl}}/images/social-03.svg" width="20"></a><a href="#" class="social-icon-link w-inline-block"><img src="{{site.baseurl}}/images/social-30.svg" width="20"></a></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!-- <script src="js/webflow.js" type="text/javascript"></script> -->
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>